{% extends 'dopomoga/base.html' %}

{% block styles %}
{% load static %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<article class="pcontent">
	<h1>Welcome to Dopomoga!</h1>
	<p>Lorem ipsum</p>
	<div class="container">
		<div>
			<p>Have an account?</p>
			<form id="login_form" method="post" action="/dopomoga/login/">
			    {% csrf_token %}
			    <input type="text" name="username_login" placeholder="Username" value="" size="20" />
			    <input type="password" name="password_login" placeholder="Password" value="" size="20" />
			    <input type="submit" value="sign in" name="sign in" class="btn"/>
			</form>
		</div>
		<div>
			<p>New to Dopomoga?</p>
	        <form id="user_form" method="post" action="/dopomoga/register/">
	            {% csrf_token %}
	            {% for field in user_form.visible_fields %}
	                {{ field.errors }}
	                {{ field.help_text }}
	                {{ field }}
	            {% endfor %}
	            <input type="submit" name="submit" value="sign up"/>
	        </form>
		</div>
	</div>
</article>
{% endblock %}