{% extends 'dopomoga/base.html' %}


{% block styles %}
    {% load static %}
    <link href="{% static 'css/item.css' %}" rel="stylesheet">
{% endblock %}


{% block page_name %}
    <a href="{% url 'index' %}"><img src="#" alt="">ДОПОМОГА</a>
{% endblock %}


{% block content %}
<article class="p_item">
    <div class="grid1o2">
        <img src="" class="im">

        <section id="p_about">
            <div class="name">{{ project.name }}</div>
            <div id="p_about_d" class="group">
                <div class="tags">
                    <a href="#">by: {{ project.project_author }}</a>
                    <a href="#">in: {{ project.place }}</a>
                    {% for cause in causes_all %}
                    <a href="#">{{ cause }}</a>
                    {% endfor %}
                </div>
                <div class="descr">
                    <p>{{ project.descr }}</p>
                </div>
                <div><a href="#p_about_d" class="show">more...</a></div>
                <div><a href="#" class="hide">...less</a></div>
            </div>
        </section>

        
        <section id="user_inneed">
            <div class="name">USERS ASKED</div>
            <div class="group">
            {% if users_asked %}
                <ul class="item_in">
                {% for user in users_asked %}
                    <li>
                        <a href="{% url 'user_inneed_item' user_name_url=user %}" class="im"><img src="#"></a>
                        <p class="ititle"><a href="{% url 'user_inneed_item' user_name_url=user %}">{{ user }}</a></p>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        </section>

        <section id="docs">
            <div class="name">DOCUMENTS</div>
            <div id="docs_d" class="group">
                <div class="descr">
                    <!--LATER-->
                </div>
                <div><a href="#docs_d" class="show">more...</a></div>
                <div><a href="#" class="hide">...less</a></div>
            </div>
        </section>

        <section id="reviews">
            <div class="name">REVIEWS</div>
            <div class="group">
            <!--LATER -->
            </div>
        </section>
    </div>

    <div class="grid1o2">
        <section id="r_list">
        {% for resource in resources_all %}
            <div class="r_item">
                <div class="icon">
                    <img src="{{ resource.icon }}">
                </div>
                <div class="r_about">
                    <h4>{{ resource }}</h4>
                    <p class="progress"><!--finish later-->
                        <span class="gathered" style="width: 50%">{{ project.gathered }} given</span><!-- {{ project.gathered_percent }} -->
                        <span class="left">{{ project.left }} left</span>
                    </p>
                </div>
            </div>
        {%endfor%}
        </section>

        <section id="howto">
            <div class="name">HOW TO RECIEVE HELP</div>
            <div id="howto_d" class="group">
                <div class="descr">
                    <p>{{ project.how_to_help }}</p>
                </div>
                <div><a href="#howto_d" class="show">more...</a></div>
                <div><a href="#" class="hide">...less</a></div>
            </div>
        </section>

        <section id="comments">
            <div class="name">COMMENTS</div>
            <div class="group">
            <!-- LATER % include 'dopomoga/comments.html' % -->
            </div>
        </section>
    </div>
</article>

{% endblock %}