{% extends 'dopomoga/base.html' %}


{% block styles %}
    {% load static %}
    <link href="{% static 'css/item.css' %}" rel="stylesheet">
{% endblock %}


{% block page_name %}
    <a href="{% url 'index' %}"><img src="#" alt="">ДОПОМОГА</a>
{% endblock %}


{% block content %}
<article class="p_item">
    <div class="grid1o2">
        <img src="{{ picture }}" class="im">

        <section id="p_about">
            <div class="name">{{ user.first_name }} {{ user.second_name }}</div>
            <div id="p_about_d" class="group">
                <div class="user_descr">
                    <dl>
                        {% if user.website %}
                        <dt>Website: </dt><dd><a href="{{ user.website }}">{{ user.website }}</a></dd></br>
                        {% endif %}
                        {% if user.phone %}
                        <dt>Phone: </dt><dd>{{ user.phone }}</dd></br>
                        {% endif %}
                        {% if user.place %}
                        <dt>Place: </dt><dd><a href="">{{ user.place }}</a></dd></br>
                        {% endif %}
                    </dl>
                </div>
                <div class="descr">
                    <p>{{ user.descr }}</p>
                </div>
                <div><a href="#p_about_d" class="show btn">more...</a></div>
                <div><a href="#" class="hide btn">...less</a></div>
            </div>
        </section>

        <section id="pr_part">
            <div class="name">PROJECTS IN</div>
            <div class="group">
            {% if project_part_all %}
                <ul class="item_in">
                {% for project in project_part_all %}
                    <li>
                        <a href="{% url 'project_inneed_item' project_name_url=project.url %}" class=""><img src="#"></a>
                        <p class="ititle"><a href="{% url 'project_inneed_item' project_name_url=project.url %}">{{ project }}</a></p>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        </section>

        <section id="pr_ask">
            <div class="name">PROJECTS ASKED</div>
            <div class="group">
                <div class="tags">
                {% if project_asked_all %}
                    {% for project in project_asked_all %}
                        <a href="{% url 'project_helper_item' project_name_url=project.url %}">{{ project }}</a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </section>

        <section id="pr_sup">
            <div class="name">PROJECTS SUPPORTED</div>
            <div class="group">
                <div class="tags">
                {% if project_inneed_all %}
                    {% for project in project_inneed_all %}
                        <a href="{% url 'project_inneed_item' project_name_url=project.url %}">{{ project }}</a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </section>

        <section id="pr_cre">
            <div class="name">PROJECTS CREATED</div>
            <div class="group">
                <div class="tags">
                {% if project_helper_all %}
                    {% for project in project_helper_all %}
                        <a href="{% url 'project_helper_item' project_name_url=project.url %}">{{ project }}</a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </section>

        <section id="cause_sup">
            <div class="name">CAUSES SUPPORTS</div>
            <div class="group">
                <div class="tags">
                {% if causes_all %}
                    {% for cause in causes_all %}
                        <a href="{% url 'cause_item' cause_name_url=cause.url %}">{{ cause }}</a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </section>

        <section id="resource_sup">
            <div class="name">RESOURCES SUPPORTS</div>
            <div class="group">
                <div class="tags">
                {% if resources_all %}
                    {% for resource in resources_all %}
                        <a href="{% url 'resource_item' resource_name_url=resource.url %}">{{ resource }}</a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </section>
    </div>

    <div class="grid1o2">
    <!--RESOURCES USER NEEDS
        <section id="r_list">
        {% for resource in project.resource.all %}
            <div class="r_item">
                <div class="icon">
                    <img src="{{ resource.icon }}">
                </div>
                <div class="r_about">
                    <h4>{{ resource }}</h4>
                    <p class="progress">
                        <span class="gathered" style="width: 50%">{{ project.gathered }} given</span><! {{ project.gathered_percent }} >
                        <span class="left">{{ project.left }} left</span>
                    </p>
                </div>
            </div>
        {%endfor%}
    -->
        <section id="comments">
            <div class="name">COMMENTS</div>
            <div class="group">
            {% include 'dopomoga/part/comments.html' %}
            </div>
        </section>
    </div>
</article>

{% endblock %}
<!--
IDEAS
    <section id="projects_in">
        <div class="name">HELP {{ user.first_name }} {{ user.second_name }} HERE</div>
        <div class="group">
        {% include 'dopomoga/list/project_inneed_all.html' %}
        </div>
    </section>

    <section id="projects_supported">
        <div class="name">{{ user.first_name }} {{ user.second_name }} HELPED THIS PROJECTS</div>
        <div class="group">
        {% include 'dopomoga/list/project_helper_all.html' %}
        </div>
    </section>
-->
