{% extends 'dopomoga/base.html' %}


{% block styles %}
    {% load static %}
    <link href="{% static 'css/lists_and_filters.css' %}" rel="stylesheet">
{% endblock %}


{% block page_name %}
    <a href="{% url 'index' %}"><img src="#" alt="">Д.</a>
    <a href="{% url 'cause_all' %}"><img src="#" alt="">Напрямки</a>
{% endblock %}


{% block filters %}
    {% include 'dopomoga/part/filters.html' %}
{% endblock %}


{% block content %}
<div class="listWrapper">
    <article class="pcontent">
        {% if cause_all %}
            <ul class="i_list">
                {% for cause in cause_all %}
                    <li>
                    <!--===MINIMUM=== [photo], [name, descr], [gathered, left], [read more]-->
                        <div class="btns">
                            <a href="{% url 'cause_item' cause_name_url=cause.url %}" class="readmore btn"><span>Read more</span></a>
                            <div class="cancel readmore btn"><p>Cancel</p></div>

                        </div>

                        <a href="{% url 'cause_item' cause_name_url=cause.url %}" class="im">
                            <img src="{{ cause.picture.url }}">
                        </a>

                        <p class="progress">
                            <span class="gathered" style="width: {{ cause.gathered_percent }}%">{{ cause.gathered }} shared</span>
                            <span class="left">{{ cause.left }} left</span>
                        </p>

                        <h4 class="ititle">
                            <a href="{% url 'cause_item' cause_name_url=cause.url %}">{{ cause.name }}</a>
                        </h4>

                        <p class="idescr">{{ cause.descr }}</p><!--limit to 256 chars-->

                        <div class="tags">
                            <!-- LATER<p>ri {{ numR }}</p><!-"resources"-
                              <div class="subtags">
                            {% for resource in cause.resources.all %}
                                <p>{{ resource }}</p> 
                            {% endfor %}
                            </div>-->

                            <p>pi {{ cause.numOfproject_inneed_all }}</p><!--"projects in need"-->
                             <!-- LATER <div class="subtags">
                            {% for project in cause.projects_inneed.all %}
                                <p>{{ project }}</p> 
                            {% endfor %}
                            </div>-->

                            <p>ui {{ cause.numOfusers_inneed }} </p> <!--"people in need"-->
                             <!-- LATER <div class="subtags">
                            {% for user in cause.users_inneed.all %}
                                <p>{{ user }}</p>
                            {% endfor %}
                            </div>-->

                            <p>ps {{ cause.numOfproject_helper_all }}</p><!--"projects support"-->
                             <!-- LATER <div class="subtags">
                            {% for project in cause.projects_helper.all %}
                                <p>{{ project }}</p> 
                            {% endfor %}
                            </div>-->

                            <p>us {{ cause.numOfusers_supported }}</p> <!--"people support"-->
                             <!-- LATER <div class="subtags">
                            {% for user in cause.users_helper.all %}
                                <p>{{ user }}</p>
                            {% endfor %}
                            </div>-->
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </article>
</div>
{% endblock %}
