{% if project_helper_all %}
    <ul class="i_list">
        {% for project in project_helper_all %}
            <li>
                <!--===MINIMUM=== [photo], [name, descr], [res, cause, place, author], [gathered, left], [read more and help]-->
                <div class="btns">
                    <a href="{% url 'project_helper_item' project_name_url=project.url %}" class="readmore btn"><span>Read more</span></a>
                    <div class="cancel readmore btn"><p>Cancel</p></div>
                    {% include 'dopomoga/part/support_project.html' %}
                </div>

                <a href="{% url 'project_helper_item' project_name_url=project.url %}" class="im">
                    <img src="{{ project.picture.url }}">
                </a>
                
                <section class="icons">
                    {% for resource in project.resource.all|slice:":2" %}
                        <a href="#">
                            <div class="icn" href="#"><span></span></div>
                            <div class="cptn" href="#">{{ resource }}</div>
                        </a>
                    {% endfor %}
                </section>

                <p class="progress"><!--finish later-->
                    <span class="gathered" style="width: {{ project.gathered_percent }}%">{{ project.gathered }} shared</span>
                    <span class="left">{{ project.left }} left</span>
                </p>

                <h4 class="ititle">
                    <a href="{% url 'project_helper_item' project_name_url=project.url %}">{{ project.name }}</a>
                </h4>

                <p class="idescr">{{ project.descr }}</p>

                <div class="caption">
                    <a href="#">
                        <div class="icn"><span></span></div>
                        <div>
                            <p>{{ project.project_author }}</p>
                            <p class="bottom">{{ project.place }}</p><!--
                            {% for cause in project.cause.all|slice:":3" %}
                                <p class="cause">{{ cause }}</p>
                            {% endfor %}-->
                        </div>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
