
{% extends 'dopomoga/base.html' %}


{% block styles %}
	{% load static %}
	<link href="{% static 'css/lists_and_filters.css' %}" rel="stylesheet">
{% endblock %}


{% block page_name %}
	<a href="{% url 'index' %}"><img src="#" alt="">Д.</a>
	<a href="{% url 'userhelper_all' %}"><img src="#" alt="">Допомагають</a>
{% endblock %}


{% block filters %}
	{% include 'dopomoga/part/filters.html' %}
{% endblock %}


{% block content %}
<div class="listWrapper">
	<article class="pcontent">
		{% if userhelper_all %}
			<ul class="i_list">
				{% for user in userhelper_all %}
					<li>
					<!--===MINIMUM=== [photo], [name, descr], [cause, place], [gathered, left], [read more and help]-->			
						<a href="/dopomoga/userhelper_all/{{user}}" class="im"><img src="#"></a>

						<p class="progress">
							<span class="gathered" style="width: {{firstresource.gathered_percent}}%">{{firstresource.gathered}} shared</span>
							<span class="left">{{firstresource.left}} left</span>
						</p>


						<div class="tags uptags">

							<p>{{user.numOfproject_inneed_all}} projects</p>
							<!-- LATER<div class="subtags">
							{% for project in user.projects_inneed.all %}
								<p>{{project}}</p> 
							{% endfor %}
							</div>-->
							<p>{{user.numOfresources_all}} resources</p>
							<!-- LATER<div class="subtags">
							{% for resource in user.resources.all %}
								<p>{{resource}}</p> 
							{% endfor %}
							</div>-->
							<p>{{user.numOfcauses_all}} causes</p>
							<!-- LATER<div class="subtags">
							{% for cause in user.causes.all %}
								<p>{{cause}}</p> 
							{% endfor %}
							</div>-->

							<!--Needed???
							<p>{{user.numOfproject_helper_all}} projects created</p>
							<div class="subtags">
							{% for project in user.projects_helper.all %}
								<p>{{project}}</p> 
							{% endfor %}
							</div>

							<a href="#">{{numUI}} users in need</a><!hidden>
							{% for user in user.users_inneed.all %}
								<p>{{user}}</p>
							{% endfor %}
							-->
						</div>
						
						<p class="ititle"><a href="/dopomoga/userhelper_all/{{user}}">{{user}}</a></p>
						<p class="idescr">{{user.descr}}</p>
						<a href="" class="readmore btn">Read more</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</article>
</div>
{% endblock %}
