.pcontent  h1 {
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
}

.pcontent>p {
    padding-top: 10px;
    font-size: 1.5em;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

    .container>div {
        padding: 5% 0;
        border-bottom: 1px solid rgb(200,200,200);
    }

    .container>div:last-child {
        border-bottom-width: 0;
    }


        .words, .container div img {
            display: inline-block;
            vertical-align: top;
            width: 49%;
        }

            .words h2, .words p{
                padding: 5px;
            }

/*======================================
           BREAK POINTS
======================================*/

@media screen and (max-width: 737px) {
    #navtarget:target .words,
    #navtarget:target .container div img { 
        width: 100%; 
    }
}

@media screen and (max-width: 517px) {
    .words, .container div img { 
        width: 100%; 
    }
}
