#wrapper {
    background-color: rgb(247,247,247);
}

.pcontent  h1 {
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
}

.pcontent>p {
    padding-top: 10px;
    font-size: 1.5em;
    text-align: center;
}

/*==========FORM CONTAINER============*/
.container {
    margin: 10px auto 0;
    width: 214px;
}

    .container div {
        padding: 5px;
        margin-bottom: 5px;
        border: 1px solid rgb(200,200,200);
        border-bottom-width: 2px;
    }
    .container p {
        padding: 5px 1px 10px;
    }

/*==========FORM============*/
.container input {
    display: block;
    width: 200px;
    margin-bottom: 4px;
    height: 30px;
}

.container input[type="submit"] {
    background-color:#CC181E;
    width: 202px;
    color: white;
    border-width: 0;
}
.container input[type="submit"]:hover {
    outline: #CC181E solid 2px;
}

/*======================================
           BREAK POINTS
======================================*/