/*===============================================
                   INTRO ARTICLE
===============================================*/
#intro {
	background-image: url('../img/monaco.jpg');
	background-size: cover;
	padding: 12% 1% 20%;
	border-left: 1px solid rgb(200,200,200);
	border-right: 1px solid rgb(200,200,200);
}

#goal, #intro form, #or_find {
	margin: 0 10%;
}

/*===SLOGAN===*/

h1, #goal div, #goal p {
	display: inline-block;
}


h1, #goal p, #or_find a {
	font-weight: 800;
	color: rgba(255,255,255,1);
	text-shadow: -0.02em -0.02em 0 rgb(57,57,57);
}

h1 {
	font-size: 38px;
}

#goal p {
	font-size: 21px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: -1px;
}

/*===SEARCH FORM===*/
#intro form {
	background: rgba(233,233,233,0.75);
	display: inline-block;
	padding: 4px 4px 0;
	margin-top: 5px;
	margin-bottom: 3px;
}

#intro form section, .submitter>* {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2px;
}

#intro form section section {
	position: relative;
}

#intro ul {
	background-color: rgba(200,200,200,0.75);
	position: absolute;
	width: 175px;
	max-height: 148px;
	overflow: auto;
	border: 4px solid rgba(200,200,200,0.75);
	border-top: 4px solid rgba(200,200,200,0);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    z-index: 100;
}

#intro li {
	position: relative;
	top: 0;
	min-height: 30px;
}

#intro li:nth-child(even) {
	background-color: white;
}

input:checked + label {
	background-color: #CC181E;
	}

.noth {
	padding: 5px;
}

#intro li label {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	padding: 2px 0 0 20px;
	width: 87%;
	height: 90%;
}

.who input{
	width: 276px;
	height: 34px;
	margin-bottom: 2px;
}
.picker section>input{
	width: 88px;
	height: 34px;
}
.submitter input {
	width: 90px;
	height: 38px;
	background-color:#CC181E;
	color: white;
	border-color: transparent;
}

		.submitter input:hover {
			outline: #CC181E solid 2px;
		}
		.submitter input:first-child {
			margin-right: 4px;
		}
		.submitter div {
			width: 0;
			height: 0;
		}

/*===OR===*/

#or_find a {
	font-size: 18px;
	letter-spacing: -1px;
	font-family: 'PT Sans', sans-serif;
}
#or_find a span {
	background-color: #CC181E;
}

/*===============================================
            ABOUT ARTICLES
===============================================*/
.about {
	background-color: rgba(233,233,233,0.75);
	border: 1px solid rgba(200,200,200,0.75);
	border-top-width: 0;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}

	.about section {
		padding: 5px 0;
		display: inline-block;
		vertical-align: middle;
	}

		.about section section {
			vertical-align: top;
			width: 31%;
			margin: 0 0.5%;
		}

			.about h2 { 
				padding-left: 5px;
				font-size: 1.45em; }

			.about h4 { 
				font-weight: bolder; }

			.about h4, .about p { 
				font-size: 0.9em; 
				line-height: 1.3em;
			}


/*===============================================
                 BREAK POINTS
===============================================*/

@media screen and (max-width: 425px) {
	.about section section, .about .grid, .submitter { width: 100%;}
	h1 { font-size: 26px;}
	#intro p { font-size: 18px;}
}

@media screen and (max-width: 324px) {
	.who input, .picker section>input, .submitter input, .picker, .who, .picker section, #intro ul { width: 100%; }
	.submitter input:first-child { margin-bottom: 4px;}
	#intro ul {border-width: 0; margin-left:1px; position: relative; background-color: transparent;}
}
