/*===============================================
                COMMON
===============================================*/

/*
COLORS:;
#CC181E - focus
.btn (input,readmore) - background-color: rgb(247,247,247); .btn, input - border: 1px solid rgb(200,200,200);
tags - background-color: rgb(247,247,247); border: 1px solid rgb(200,200,200);
header, footer - background-color: rgb(233,233,233);
white

black -	color:rgb(24,24,24);
lighter black - 	color:rgb(57,57,57);

FONTS:;
font-family: 'PT Serif', serif;
font-family: 'PT Sans', sans-serif;
*/

a, p, h1, h2, h3, h4, h5, h6, li {
	font-family: 'PT Serif', serif;
	font-size: 14px;
	color:rgb(24,24,24);
	line-height: 1.1em;
}

a {
	text-decoration: none;
	overflow: hidden;
}

.btn {
	background-color: rgb(247,247,247);
}

a:hover, .btn:hover, .tags a:hover {/*everything clickable on hover*/
	background-color:#CC181E;
	color: white;
	border-color: transparent;
}

.btn:hover, input[type="submit"]:hover { 
	cursor: pointer;
}

input, textarea {
	border: 1px solid rgb(200,200,200);
	line-height: normal;/*firefox fix*/
	-webkit-appearance: none;/*mobile fix*/
	-webkit-border-radius: 0;
}

input:focus, textarea:focus {
	outline: 1px solid #CC181E;
}

::selection {
background-color: #CC181E;
color: white;
}

::-moz-selection  {
background-color: #CC181E;
color: white;
}

img {
	width: 100%;
	background-size:contain;
}


/*===============================================
                START
===============================================*/

#wrapper, .footer_cont {
	width:100%;
	max-width: 1018px;
	margin:0 auto;
}

/*push footer the bottom*/
html, body { height: 100%; }
	 #wrapper { min-height: 100%; height: auto !important; height: 100%;
				margin-bottom: -58px; }
		.push { height: 58px; }
 .footer_cont { min-height: 58px; }

/*===============================================
                 HEADER & FOOTER COMMON
===============================================*/

header, footer {
	position: relative;
	background-color: rgb(233,233,233);
	border: 1px solid rgb(200,200,200);
	border-bottom-width: 2px;
}

header a, footer a {
	display: block;
}

/*===============================================
                 HEADER
===============================================*/
header {
	height: 40px;	
	border-top-width: 0;
	border-right-width: 0;
}

			header a,  #dopo_search {
				height: 30px;
				padding: 5px;
				border-right: 1px solid rgb(200,200,200);
				font-family: 'PT Sans', sans-serif;
			 }

			header a span{
				display: inline-block;
				height: 30px;
				line-height: 30px; 
				vertical-align: middle;
			}

			#searchhide span {
				height: 15px;
				line-height: 15px; 
			}

#logo, #dopo_search, #dopo_search input, #empty, header nav ul, header nav ul li  {
	display:inline-block;   
	float: left;
}

#dopo_search {
    position: relative;
	width: 183px;
	z-index: 10;
	background: url('../icons/search.svg') no-repeat 12px 0 scroll;
}

			#searchshow, #searchhide {/*show/hide search buttons for devices with max-width: 425px*/
				display: none;
			}

			#dopo_search input[type="text"] { 
				width: 133px; 
				height: 26px;
			}

			#dopo_search input[type="submit"] { 
				background-image: url('../icons/search.svg');
				background-repeat: no-repeat;
				background-position: 3px -5px;
			    display: block;
				width: 40px;
				height: 30px;
			}


header nav {
	position: relative;
	right: 90px;/*equals to #empty width*/
}

			#empty {
				width: 90px;/*equals to the left margin we want*/
				height: 30px;/*equals to nav ul li height*/
			}

			header nav ul {
				position: absolute;
				overflow: hidden;
				height: 42px;
			}


#nav_icon {
	display: none;
	position: absolute;
	top: 0;
	right: 90px;
}

#join {
	position: absolute;
	top: 0;
	right: 0; 
}


/*===============================================
                 FOOTER
===============================================*/
footer {
	padding: 5px 0;
}

footer h6 {
	line-height: 18px;
}

footer a:hover  {
	background-color: transparent;
	color:#CC181E;
}

footer nav ul li {
	display: inline-block;
	vertical-align: top;
	width: 18%;
	min-width: 90px;
	margin-left: 1%;
	padding-left: 1px;
}

footer p {
	display: inline-block;
	margin: 15px 10px 0 5px;
}

		footer p a {
			display: inline;
			border: none;
		}

/*BOX-MODEL AND ALIGNING*/

header>div, #empty, header nav ul, header nav li {
	vertical-align: top;
	text-align: center;
}

/*WIDTH OF HEADER NAV ELEMENTS*/
#logo a, header nav ul li a, #join a { width:80px; }
#menushow, #menuhide, #searchshow { width: 40px; }

/*===============================================
                 CONTENT
===============================================*/

.tags p, .tags a {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
    margin: 2px 0 0 2px;
    padding: 2px;
    font-size: 12px;
	background-color: rgb(247,247,247);
	border: 1px solid rgb(200,200,200);
}

.tags a {
	background-color: white;
}

/*PROGRESS, finish later*/
.progress {
	border-top: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
	background-color: white;
}

	.progress span {
		display: inline-block;
	    padding: 5px 0;
	}

	.gathered {
		border-right: 1px solid rgb(200,200,200);
		background-color: #CC181E;
		color: white;
	}

/*===============================================
                 BREAK POINTS
===============================================*/
@media screen and (max-width: 1018px) {
	header nav { right: 140px;/*equals to #empty width*/ }
	#empty { width: 140px;/*equals to the left margin we want*/ }

	/*SHOW/HIDE NAVIGATION ICON*/
	#nav_icon .icon {
		background: url('../icons/nav.svg') no-repeat 0 0 scroll;
		height: 30px;
		width: 30px;
		display: inline-block;
		vertical-align: middle;
	}
	#nav_icon, #main:target + #nav_icon #menuhide { display: block; }
	#menuhide, #main:target + #nav_icon #menushow { display: none; }
	#menuhide {
		background-color: #CC181E;
	}
	#main:target {
		display: block; 
		right: 0;
	}
		#main:target ul { 
			position: static;
			width:100%;
			height: 100%;
			background-color: rgb(247,247,247);
		}
			#main:target ul li {
				display: block;
				width:100%;
				border: 1px solid rgb(200,200,200);
				border-bottom: none;
			}

			#main:target ul li:last-child {
				border-bottom: 1px solid rgb(200,200,200);
			}
				#main:target ul li a{
						width:100%;
					}
}

@media screen and (max-width: 517px) {
	header nav { display: none; }
}

@media screen and (max-width: 425px) {
	#nav_icon {
		right:50px;   
	}
	#join a{
		width:40px;   
	}
	#empty {
		width:0;
	}
	/*SHOW/HIDE SEARCH FORM*/
	#dopo_search form { display: none; }
	#dopo_search {
		position: absolute;
		top:0;
		padding: 0;
		width:52px;
		right:100px;
		border: none;
	}
	#searchshow, #dopo_search:target #searchhide, #dopo_search:target input { 
		display: inline-block;  
		vertical-align: top;
	}
	#dopo_search:target #searchshow { display: none; }/*switch buttons*/
	#dopo_search:target #searchhide {
		width: 40px;
		height: 14px;
		padding: 8px 0;
		border-right-width: 0;
		font-size: 12px;
	}
	#dopo_search:target {
		display: block;
		right: 0;
		left: 0;
		width: 99%;
		min-width: 234px;
		height: 30px;
		padding: 6px 0;
		background: rgb(233,233,233);
		border-bottom: 2px solid rgb(200,200,200);
		border-left: 2px solid rgb(200,200,200);
	}
			#dopo_search:target form {
				display: inline-block;
				height: 30px;
				width: 80%;
			}

			#dopo_search:target input[type="text"] { width:75%; }
			#dopo_search:target input[type="submit"] { width:20%; }
}