<!--comment_block-->
<div class="group">

	<!--LATER - comment form
    {% csrf_token %}
    {% for field in comment_form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}<br />
    {{ field }}<br />
    {% endfor %}
	-->
    {% if comments %}
		{% for comment in comments %}
			<div class="comment_block">
				<a class="author" href="">{{comment.author}}</a>
				<p class="date_commented">{{comment.date_commented}}</p>
				<p class="comment">{{comment.comment}}</p>
				<div><a href="#" class="more btn">more...</a></div>
			</div>
		{% endfor %}
	{% endif %}
</div>